@import url('https://fonts.googleapis.com/css?family=Lilita+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
	margin:0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.navbar-upper{
	background-color: #f3dede !important;
}
.mainLogin{
	width: 100%;
	height: 100%;
	background: url('../img/pexels-photo-884454 - Copy.jpeg') no-repeat;
	display: table;
	background-size: cover;
}

.main-bg{
	width: 100%;
	height: 100%;
	background: url('../img/pexels-photo-884454 - Copy.jpeg') no-repeat;
	display: table;
	background-size: cover;
}
.main-bg .row{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content-text{
	text-align: center;
	/*max-width: 500px;*/
}
.content-text img{
	width:17%;

}
.content-text h1{
	margin :-35px;
	font-family: 'Lilita One', serif;
	padding-top: 26px;
	color: #ffaa6b;
	font-size: 120px;
}
.paragraph-front{
	color: #fff; 
	font-size: 20px;
	text-transform: capitalize	; 
	margin-top: 10px;
}
.content-text p{
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	color: #cecdcc;
}
.button{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	text-transform: uppercase;
}
.buttonSubmit {
	background: #fff;
	color: #a75518;
	font-weight: 500;
	font-size: 20px;
	width: 15%;
	border: none;
	padding: 10px 5px;
	margin: 5px 0;
	text-transform: uppercase;
	transition: 0.3s;
}
.buttonSubmit:hover{
	background: #f3e6e6;
	color: #4a2204;
}

/*//*/

.img-front{
	width: 40%;
	padding-left: 20px;
	padding-top: 10px;
	margin-left: 75px;
}
.footer-text h1{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}
.footer-text p{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
	.content-text h1{
		margin :-35px;
		font-family: 'Lilita One', serif;
		padding-top: 30px;
		color: #ffaa6b;
		font-size: 100px;
	}
	.content-text p{
		font-family: 'Roboto', sans-serif;
		font-size: 37px;
		color: #cecdcc;
	}
	.logo-footer{
		width: 54%;
		padding-left: 4px;
		padding-top: 19px;
		margin-left: 52px;
	}
	.footer-text h1{
		margin-top: 10px;
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
	}
	.footer-text p{
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
	}

}
@media (max-width: 767px) {
	.content-text h1{
		margin :-25px;
		font-family: 'Lilita One', serif;
		padding-top: 30px;
		color: #ffaa6b;
		font-size: 80px;
	}
	.content-text p{
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		color: #cecdcc;
	}
	.content-text img{
		width:20%;

	}
	.logo-footer{
		width: 54%;
		padding-left: 4px;
		padding-top: 19px;
		margin-left: 52px;
	}
	.footer-text h1{
		margin-top: 10px;
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
	}
	.footer-text p{
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
	}

}
@media (max-width: 575px) {
	.footer{
		width: 100%;
		height: 31%;
		background-color: #e2ecf4;
	}
	.content-text h1{
		margin :-15px;
		font-family: 'Lilita One', serif;
		padding-top: 40px;
		color: #ffaa6b;
		font-size: 100px;
	}
	.content-text p{
		font-family: 'Roboto', sans-serif;
		font-size: 36px;
		color: #cecdcc;
	}
	.content-text img{
		width:34%;
	}
	.logo-footer{
		width: 14%;
		padding-left: 4px;
		padding-top: 11px;
		margin-left: 10px;
	}
	.footer-text h1{
		margin-top: 10px;
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		margin-bottom: -7px;
	}
	.footer-text p{
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		margin-bottom: -7px;
	}
}
@media (max-width: 375px) {
	.footer{
		width: 100%;
		height: 35%;
		background-color: #e2ecf4;
	}
	.content-text h1{
		margin: -16px;
		font-family: 'Lilita One', serif;
		padding-top: 70px;
		color: #ffaa6b;
		font-size: 80px;
	}
	.content-text p{
		font-family: 'Roboto', sans-serif;
		font-size: 28px;
		color: #cecdcc;
	}
	.content-text img{
		width:50%;

	}
	.logo-footer{
		width: 14%;
		padding-left: 4px;
		padding-top: 11px;
		margin-left: 10px;
	}
	.footer-text h1{
		margin-top: 10px;
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		margin-bottom: -7px;
	}
	.footer-text p{
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		margin-bottom: -7px;
	}
}



